
nb-layout-column{

    margin-top:10%;
    
}
label{
    font-size: 120%;    
    margin-top:2.5%;     
}
nb-card-header{
    text-align: center;
    font-size: 150%;
    color:lightpink;
}
h5{
    color: #df7a84;
}
