<nb-card>
    <nb-card-header>Maker: {{maker_name}}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="makerid">Maker ID *</label>
            <input type="text" class="form-control" id="makerid" value="{{maker_ID}}" #makerid required disabled>
          </div>
        </div>
        
       
      </div>
      <div class="row">
          

          <div class="col-12">
              <div class="form-group">
                <label for="makername">Maker Name *</label>
                <input type="text" class="form-control" id="makername" value="{{maker_name}}" #makername disabled>
              </div>
            </div>
      </div>
    
      <div class="row">
        
          <div class="col-sm-6">
              <div class="form-group">
                <label for="contactName">ContactName *</label>
                <input type="text" class="form-control" id="contactName" value="{{maker_contactName}}" #contactName disabled> 
              </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastName">LastName *</label>
                  <input type="text" class="form-control" id="lastName" value="{{maker_contactLastName}}" #lastName disabled>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Tel">Tel</label>
                  <input (keypress)="numberOnly($event)" type="text" class="form-control" id="Tel" value="{{maker_tel}}" #tel disabled>
                </div>
              </div>

                <form [formGroup]="registerForm" class="col-sm-6">
                  <div class="form-group">
                      <!-- <div class="col-sm-6"> -->
                          
                            <label for="inputEmail">Email *</label>
                            <input type="email" 
                            class="form-control" id="Email" 
                            value="{{maker_email}}" formControlName="email"  #email required disabled>
                           
                          <!-- </div> -->
                        </div>
                
                 
        
              </form>

                  <div class="col-sm-6">
                      <div class="form-group">
                        <label for="address">Address *</label>
                        <textarea rows="5" nbInput fullWidth shape="round"  value="{{maker_address1}}" #address disabled></textarea>
                      </div>
                    </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputWebsite">Province</label>
            <div class="form-group">
              <select class="form-control"  id="province"  #province disabled>
                  <option    value="{{maker_province}}">{{province_name_tha}}</option>
                  <ng-container *ngFor= "let provinces of service.listprovince"  >
                      
                      <option   *ngIf="provinces.province_name_tha != province_name_tha" value="{{provinces.province_code}}">{{provinces.province_name_tha}}</option>  
                  </ng-container>
                <!-- <option   *ngFor= "let provinces of service.listprovince"  value="{{provinces.province_code}}">{{provinces.province_name_tha}}</option>   -->
              </select>
            </div> 
          </div>
        </div>
     
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputWebsite">Status</label>
            <div class="form-group">
              <select class="form-control"  id="Status" #StatusValue disabled>
                  <option    value="{{activeFlag}}">{{value1}}</option>
                  <ng-container *ngFor= "let micdatas of service.listmic"  >
                      
                      <option   *ngIf="micdatas.value1 != value1" value="{{micdatas.misc_code}}">{{micdatas.value1}}</option>  
                  </ng-container>
                <!-- <option   *ngFor= "let micdatas of service.listmic"  value="{{micdatas.misc_code}}">{{micdatas.value1}}</option>    -->
              </select>
            </div> 
          </div>
        </div>
        
      </div>
      <button nbButton status="danger"  (click)="cancel()"><i class="ion-reply "></i>Back To List</button>
      <!-- <button nbButton status="success" [disabled]="f.email.errors.email && makername.value && contactName.value && lastName.value && tel.value
       && email.value && address.value && province.value && StatusValue.value && f.email.errors.email" (click)="save(makername.value , contactName.value , lastName.value , tel.value
       , email.value , address.value , province.value , StatusValue.value)">Edit</button> -->
    </nb-card-body>
  </nb-card>