<nb-card>
  <nb-card-header>Change Password</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName">User Name</label>
          <input type="text" class="form-control" id="userName" placeholder="{{userName}}" disabled>
         
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName">User Password</label>
          <input type="text" class="form-control" id="password" placeholder="{{password}}" disabled>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName">New Password</label>
          <input type="text" class="form-control" id="npassword" placeholder="New Password"  #newpassword>
        </div>
      </div>
    </div>
    
    <button nbButton status="danger"  (click)="cancel()"><i class="ion-reply "></i>Back To List</button>
    <button nbButton status="success" [disabled]="newpassword.value  " (click)="changPass(newpassword.value)">Change</button>
  </nb-card-body>
</nb-card>