:host /deep/ ng2-st-tbody-edit-delete {display: inline !important;
    height: 0 !important;
  }
  
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline;
    place-items: center;
    // background-color: yellow; 
    text-align: center;
    font-size: 1.1em;
    
  }
  
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    
    color: #5dcfe3;
  }
 
